In [51]:
import pandas as pd
import numpy as np
import os
from main import *

In [52]:
#dir_path = r'C:\Users\rprocious\PSM Lighthouse\CBI\Decoding\Lighthouse raw decoding inforomation\BHP'
dir_path = r'/Users/rprocious/Waterlevels_CBI/CBI/Decoding/Lighthouse raw decoding information/BHP'
all_processed_data_BHP = process_all_files_in_folder(dir_path)
#dir_path = r'C:\Users\rprocious\PSM Lighthouse\CBI\Decoding\Lighthouse raw decoding inforomation\P21'
dir_path = r'/Users/rprocious/Waterlevels_CBI/CBI/Decoding/Lighthouse raw decoding information/P21'
all_processed_data_P21 = process_all_files_in_folder(dir_path)
#dir_path = r'C:\Users\rprocious\PSM Lighthouse\CBI\Decoding\Lighthouse raw decoding inforomation\Port Isabel'
dir_path = r'/Users/rprocious/Waterlevels_CBI/CBI/Decoding/Lighthouse raw decoding information/Port Isabel'
all_processed_data_PI = process_all_files_in_folder(dir_path)
#dir_path = r'C:\Users\rprocious\PSM Lighthouse\CBI\Decoding\Lighthouse raw decoding inforomation\Rockport'
dir_path = r'/Users/rprocious/Waterlevels_CBI/CBI/Decoding/Lighthouse raw decoding information/Rockport'
all_processed_data_RP = process_all_files_in_folder(dir_path)

Processed BHP_NES_1996-2023.csv
Processed BHP_NWS_1996-2023.csv
Processed BHP_VLG_1996-2023.csv
Processed BHP_XMD_1996-2023.csv
Processed BHP_XPT_1996-2023.csv
Processed P21_NES_1996-2023.csv
Processed P21_NWS_1996-2023.csv
Processed P21_VLG_1996-2023.csv
Processed P21_XMD_1996-2023.csv
Processed P21_XPT_1996-2023.csv
Processed PI_NES_1996-2023.csv
Processed PI_NWS_1996-2023.csv
Processed PI_VLG_1996-2023.csv
Processed PI_XMD_1996-2023.csv
Processed PI_XPT_1996-2023.csv
Processed RP_NES_1996-2023.csv
Processed RP_NWS_1996-2023.csv
Processed RP_VLG_1996-2023.csv
Processed RP_XMD_1996-2023.csv
Processed RP_XPT_1996-2023.csv

In [53]:
BHP = pd.merge(all_processed_data_BHP['BHP_NES_1996-2023.csv'], all_processed_data_BHP['BHP_NWS_1996-2023.csv'][['Date', 'Value']], on='Date', how='left')
BHP = pd.merge(BHP,all_processed_data_BHP['BHP_VLG_1996-2023.csv'], on='Date', how='left')
BHP = pd.merge(BHP,all_processed_data_BHP['BHP_XMD_1996-2023.csv'], on='Date', how='left',suffixes=('_nes', '_vlg'))
BHP = pd.merge(BHP,all_processed_data_BHP['BHP_XPT_1996-2023.csv'], on='Date', how='left')
BHP = BHP.rename(columns={'Value_x': 'NES', 'Value_y': 'NWS', 'Value_nes': 'VLG', 'Value_vlg': 'XMD', 'Value': 'XPT', })
BHP = clean_data(BHP)

P21 = pd.merge(all_processed_data_P21['P21_NES_1996-2023.csv'], all_processed_data_P21['P21_NWS_1996-2023.csv'][['Date', 'Value']], on='Date', how='left')
P21 = pd.merge(P21,all_processed_data_P21['P21_VLG_1996-2023.csv'], on='Date', how='left')
P21 = pd.merge(P21,all_processed_data_P21['P21_XMD_1996-2023.csv'], on='Date', how='left',suffixes=('_nes', '_vlg'))
P21 = pd.merge(P21,all_processed_data_P21['P21_XPT_1996-2023.csv'], on='Date', how='left')
P21 = P21.rename(columns={'Value_x': 'NES', 'Value_y': 'NWS', 'Value_nes': 'VLG', 'Value_vlg': 'XMD', 'Value': 'XPT', })
P21 = clean_data(P21)

PI = pd.merge(all_processed_data_PI['PI_NES_1996-2023.csv'], all_processed_data_PI['PI_NWS_1996-2023.csv'][['Date', 'Value']], on='Date', how='left')
PI = pd.merge(PI,all_processed_data_PI['PI_VLG_1996-2023.csv'], on='Date', how='left')
PI = pd.merge(PI,all_processed_data_PI['PI_XMD_1996-2023.csv'], on='Date', how='left',suffixes=('_nes', '_vlg'))
PI = pd.merge(PI,all_processed_data_PI['PI_XPT_1996-2023.csv'], on='Date', how='left')
PI = PI.rename(columns={'Value_x': 'NES', 'Value_y': 'NWS', 'Value_nes': 'VLG', 'Value_vlg': 'XMD', 'Value': 'XPT', })
PI = clean_data(PI)

RP = pd.merge(all_processed_data_RP['RP_NES_1996-2023.csv'], all_processed_data_RP['RP_NWS_1996-2023.csv'][['Date', 'Value']], on='Date', how='left')
RP = pd.merge(RP,all_processed_data_RP['RP_VLG_1996-2023.csv'], on='Date', how='left')
RP = pd.merge(RP,all_processed_data_RP['RP_XMD_1996-2023.csv'], on='Date', how='left',suffixes=('_nes', '_vlg'))
RP = pd.merge(RP,all_processed_data_RP['RP_XPT_1996-2023.csv'], on='Date', how='left')
RP = RP.rename(columns={'Value_x': 'NES', 'Value_y': 'NWS', 'Value_nes': 'VLG', 'Value_vlg': 'XMD', 'Value': 'XPT', })
RP = clean_data(RP)

In [54]:
BHP_points = avaliable_points(BHP)
P21_points = avaliable_points(P21)
PI_points = avaliable_points(PI)
RP_points = avaliable_points(RP)
points = [BHP_points,P21_points,PI_points,RP_points]
all_points = pd.concat(points,ignore_index=True)
all_points['Station'] = ['BHP','P21','PI','RP']
all_points

       NES     NWS    VLG    XMD   XPT Station
0  2127409  386940  25345  30696  5016     BHP
1  2278119  142008  30682  18538  9127     P21
2  2279167  371574  32095  50128  8340      PI
3  1898431  492616  35085  59204  5599      RP

In [55]:
BHP[1030475:1030500]

                       Date     NES  NWS  VLG  XMD     XPT
1030475 2007-10-03 15:30:00  6849.0  NaN  NaN  NaN  6848.0
1030476 2007-10-03 15:36:00  6848.0  NaN  NaN  NaN  6829.0
1030477 2007-10-03 15:42:00  6829.0  NaN  NaN  NaN  6825.0
1030478 2007-10-03 15:48:00  6825.0  NaN  NaN  NaN  6832.0
1030479 2007-10-03 15:54:00  6832.0  NaN  NaN  NaN  6825.0
1030480 2007-10-03 16:00:00  6825.0  NaN  NaN  NaN  6817.0
1030481 2007-10-03 16:06:00  6817.0  NaN  NaN  NaN  6836.0
1030482 2007-10-03 16:12:00  6836.0  NaN  NaN  NaN  6800.0
1030483 2007-10-03 16:18:00  6800.0  NaN  NaN  NaN  6801.0
1030484 2007-10-03 16:24:00  6801.0  NaN  NaN  NaN     NaN
1030485 2007-10-03 16:30:00  6786.0  NaN  NaN  NaN     NaN
1030486 2007-10-03 16:36:00  6781.0  NaN  NaN  NaN     NaN
1030487 2007-10-03 16:42:00  6758.0  NaN  NaN  NaN     NaN
1030488 2007-10-03 16:48:00  6756.0  NaN  NaN  NaN     NaN
1030489 2007-10-03 16:54:00  6734.0  NaN  NaN  NaN     NaN
1030490 2007-10-03 17:00:00  6719.0  NaN  NaN  NaN     NaN
1030491 2007-10-03 17:06:00  6725.0  NaN  NaN  NaN     NaN
1030492 2007-10-03 17:12:00  6700.0  NaN  NaN  NaN     NaN
1030493 2007-10-03 17:18:00  6697.0  NaN  NaN  NaN     NaN
1030494 2007-10-03 17:24:00  6669.0  NaN  NaN  NaN     NaN
1030495 2007-10-03 17:30:00  6657.0  NaN  NaN  NaN     NaN
1030496 2007-10-03 17:36:00  6648.0  NaN  NaN  NaN     NaN
1030497 2007-10-03 17:42:00  6649.0  NaN  NaN  NaN     NaN
1030498 2007-10-03 17:48:00  6631.0  NaN  NaN  NaN     NaN
1030499 2007-10-03 17:54:00  6630.0  NaN  NaN  NaN     NaN

In [62]:
P21[1584907:1584947]

                       Date     NES  NWS  VLG  XMD  XPT
1584907 2014-01-29 18:42:00  1428.0  NaN  NaN  NaN  NaN
1584908 2014-01-29 18:48:00  4843.0  NaN  NaN  NaN  NaN
1584909 2014-01-29 18:54:00  4843.0  NaN  NaN  NaN  NaN
1584910 2014-01-29 19:00:00  4843.0  NaN  NaN  NaN  NaN
1584911 2014-01-29 19:06:00     NaN  NaN  NaN  NaN  NaN
1584912 2014-01-29 19:12:00     NaN  NaN  NaN  NaN  NaN
1584913 2014-01-29 19:18:00     NaN  NaN  NaN  NaN  NaN
1584914 2014-01-29 19:24:00     NaN  NaN  NaN  NaN  NaN
1584915 2014-01-29 19:30:00     NaN  NaN  NaN  NaN  NaN
1584916 2014-01-29 19:36:00     NaN  NaN  NaN  NaN  NaN
1584917 2014-01-29 19:42:00     NaN  NaN  NaN  NaN  NaN
1584918 2014-01-29 19:48:00  9435.0  NaN  NaN  NaN  NaN
1584919 2014-01-29 19:54:00  9435.0  NaN  NaN  NaN  NaN
1584920 2014-01-29 20:00:00  9435.0  NaN  NaN  NaN  NaN
1584921 2014-01-29 20:06:00  9435.0  NaN  NaN  NaN  NaN
1584922 2014-01-29 20:12:00 -2740.0  NaN  NaN  NaN  NaN
1584923 2014-01-29 20:18:00 -2436.0  NaN  NaN  NaN  NaN
1584924 2014-01-29 20:24:00 -2748.0  NaN  NaN  NaN  NaN
1584925 2014-01-29 20:30:00  9435.0  NaN  NaN  NaN  NaN
1584926 2014-01-29 20:36:00  9435.0  NaN  NaN  NaN  NaN
1584927 2014-01-29 20:42:00  9435.0  NaN  NaN  NaN  NaN
1584928 2014-01-29 20:48:00  9435.0  NaN  NaN  NaN  NaN
1584929 2014-01-29 20:54:00  9435.0  NaN  NaN  NaN  NaN
1584930 2014-01-29 21:00:00  9435.0  NaN  NaN  NaN  NaN
1584931 2014-01-29 21:06:00  9435.0  NaN  NaN  NaN  NaN
1584932 2014-01-29 21:12:00  9435.0  NaN  NaN  NaN  NaN
1584933 2014-01-29 21:18:00  9435.0  NaN  NaN  NaN  NaN
1584934 2014-01-29 21:24:00  9435.0  NaN  NaN  NaN  NaN
1584935 2014-01-29 21:30:00  9435.0  NaN  NaN  NaN  NaN
1584936 2014-01-29 21:36:00  9435.0  NaN  NaN  NaN  NaN
1584937 2014-01-29 21:42:00  9435.0  NaN  NaN  NaN  NaN
1584938 2014-01-29 21:48:00  9435.0  NaN  NaN  NaN  NaN
1584939 2014-01-29 21:54:00  9435.0  NaN  NaN  NaN  NaN
1584940 2014-01-29 22:00:00  9435.0  NaN  NaN  NaN  NaN
1584941 2014-01-29 22:06:00  9435.0  NaN  NaN  NaN  NaN
1584942 2014-01-29 22:12:00  1800.0  NaN  NaN  NaN  NaN
1584943 2014-01-29 22:18:00  1806.0  NaN  NaN  NaN  NaN
1584944 2014-01-29 22:24:00  1789.0  NaN  NaN  NaN  NaN
1584945 2014-01-29 22:30:00  1802.0  NaN  NaN  NaN  NaN
1584946 2014-01-29 22:36:00  1779.0  NaN  NaN  NaN  NaN

In [61]:
PI[919410:919454]

                      Date     NES     NWS  VLG  XMD  XPT
919410 2006-06-27 21:00:00     NaN     NaN  NaN  NaN  NaN
919411 2006-06-27 21:06:00     NaN     NaN  NaN  NaN  NaN
919412 2006-06-27 21:12:00     NaN     NaN  NaN  NaN  NaN
919413 2006-06-27 21:18:00  5769.0     NaN  NaN  NaN  NaN
919414 2006-06-27 21:24:00  5769.0     NaN  NaN  NaN  NaN
919415 2006-06-27 21:30:00  5769.0  5769.0  NaN  NaN  NaN
919416 2006-06-27 21:36:00  5769.0     NaN  NaN  NaN  NaN
919417 2006-06-27 21:42:00  5769.0  5769.0  NaN  NaN  NaN
919418 2006-06-27 21:48:00  5769.0  1451.0  NaN  NaN  NaN
919419 2006-06-27 21:54:00  1451.0     NaN  NaN  NaN  NaN
919420 2006-06-27 22:00:00  1444.0  1445.0  NaN  NaN  NaN
919421 2006-06-27 22:06:00  1445.0     NaN  NaN  NaN  NaN
919422 2006-06-27 22:12:00  1442.0     NaN  NaN  NaN  NaN
919423 2006-06-27 22:18:00  1441.0     NaN  NaN  NaN  NaN
919424 2006-06-27 22:24:00  1436.0     NaN  NaN  NaN  NaN
919425 2006-06-27 22:30:00  1430.0     NaN  NaN  NaN  NaN
919426 2006-06-27 22:36:00  1423.0     NaN  NaN  NaN  NaN
919427 2006-06-27 22:42:00  1414.0     NaN  NaN  NaN  NaN
919428 2006-06-27 22:48:00  1405.0     NaN  NaN  NaN  NaN
919429 2006-06-27 22:54:00  1398.0     NaN  NaN  NaN  NaN
919430 2006-06-27 23:00:00  1383.0     NaN  NaN  NaN  NaN
919431 2006-06-27 23:06:00  1377.0     NaN  NaN  NaN  NaN
919432 2006-06-27 23:12:00  1373.0     NaN  NaN  NaN  NaN
919433 2006-06-27 23:18:00  1367.0     NaN  NaN  NaN  NaN
919434 2006-06-27 23:24:00  1359.0     NaN  NaN  NaN  NaN
919435 2006-06-27 23:30:00  1356.0     NaN  NaN  NaN  NaN
919436 2006-06-27 23:36:00  1349.0     NaN  NaN  NaN  NaN
919437 2006-06-27 23:42:00  1342.0     NaN  NaN  NaN  NaN
919438 2006-06-27 23:48:00  1333.0     NaN  NaN  NaN  NaN
919439 2006-06-27 23:54:00  1322.0     NaN  NaN  NaN  NaN
919440 2006-06-28 00:00:00  1314.0     NaN  NaN  NaN  NaN
919441 2006-06-28 00:06:00  1311.0     NaN  NaN  NaN  NaN
919442 2006-06-28 00:12:00  1302.0     NaN  NaN  NaN  NaN
919443 2006-06-28 00:18:00  1294.0     NaN  NaN  NaN  NaN
919444 2006-06-28 00:24:00  1284.0     NaN  NaN  NaN  NaN
919445 2006-06-28 00:30:00  1275.0     NaN  NaN  NaN  NaN
919446 2006-06-28 00:36:00  1266.0     NaN  NaN  NaN  NaN
919447 2006-06-28 00:42:00  1260.0     NaN  NaN  NaN  NaN
919448 2006-06-28 00:48:00  1255.0     NaN  NaN  NaN  NaN
919449 2006-06-28 00:54:00  1250.0     NaN  NaN  NaN  NaN
919450 2006-06-28 01:00:00  1245.0     NaN  NaN  NaN  NaN
919451 2006-06-28 01:06:00  1240.0     NaN  NaN  NaN  NaN
919452 2006-06-28 01:12:00  1232.0     NaN  NaN  NaN  NaN
919453 2006-06-28 01:18:00  1224.0     NaN  NaN  NaN  NaN

In [66]:
RP[1013660:1013690]

                       Date     NES  NWS  VLG  XMD  XPT
1013660 2007-07-25 14:00:00  2078.0  NaN  NaN  NaN  NaN
1013661 2007-07-25 14:06:00  2078.0  NaN  NaN  NaN  NaN
1013662 2007-07-25 14:12:00  2080.0  NaN  NaN  NaN  NaN
1013663 2007-07-25 14:18:00  2078.0  NaN  NaN  NaN  NaN
1013664 2007-07-25 14:24:00  2083.0  NaN  NaN  NaN  NaN
1013665 2007-07-25 14:30:00  2083.0  NaN  NaN  NaN  NaN
1013666 2007-07-25 14:36:00  2086.0  NaN  NaN  NaN  NaN
1013667 2007-07-25 14:42:00  2094.0  NaN  NaN  NaN  NaN
1013668 2007-07-25 14:48:00  2087.0  NaN  NaN  NaN  NaN
1013669 2007-07-25 14:54:00  2089.0  NaN  NaN  NaN  NaN
1013670 2007-07-25 15:00:00  2089.0  NaN  NaN  NaN  NaN
1013671 2007-07-25 15:06:00  2090.0  NaN  NaN  NaN  NaN
1013672 2007-07-25 15:12:00  2092.0  NaN  NaN  NaN  NaN
1013673 2007-07-25 15:18:00  2089.0  NaN  NaN  NaN  NaN
1013674 2007-07-25 15:24:00  2091.0  NaN  NaN  NaN  NaN
1013675 2007-07-25 15:30:00  2094.0  NaN  NaN  NaN  NaN
1013676 2007-07-25 15:36:00  2091.0  NaN  NaN  NaN  NaN
1013677 2007-07-25 15:42:00  2096.0  NaN  NaN  NaN  NaN
1013678 2007-07-25 15:48:00  2095.0  NaN  NaN  NaN  NaN
1013679 2007-07-25 15:54:00  2094.0  NaN  NaN  NaN  NaN
1013680 2007-07-25 16:00:00  2095.0  NaN  NaN  NaN  NaN
1013681 2007-07-25 16:06:00  2096.0  NaN  NaN  NaN  NaN
1013682 2007-07-25 16:12:00  2097.0  NaN  NaN  NaN  NaN
1013683 2007-07-25 16:18:00  2099.0  NaN  NaN  NaN  NaN
1013684 2007-07-25 16:24:00  2100.0  NaN  NaN  NaN  NaN
1013685 2007-07-25 16:30:00  2100.0  NaN  NaN  NaN  NaN
1013686 2007-07-25 16:36:00  2096.0  NaN  NaN  NaN  NaN
1013687 2007-07-25 16:42:00  2098.0  NaN  NaN  NaN  NaN
1013688 2007-07-25 16:48:00  2096.0  NaN  NaN  NaN  NaN
1013689 2007-07-25 16:54:00  2091.0  NaN  NaN  NaN  NaN