In [1]:
from GapFill_2014_CBI_WL import *

df_list = []

for i in range(10):

    filepath = r'C:\Users\mrpro\Documents\Code\CBI\Gap_Filling\pd_1732232133.csv'
    #input('Insert Filepath to Water Level Dataset: ')

    try:
        # Call the gap-filling function
        filled_df, wl_dataset, all_gaps, dataset_LF, poly_wl, filled_gap_list, adjusted_gaps = cbi_gapfill(filepath)

        print("Gap filling completed. Here's a preview of the data:")
        print(filled_df.head())
        print(wl_dataset.head())
    except FileNotFoundError:
        print(f"Error: File not found at the given path: {filepath}")
    except Exception as e:
        if str(e) == 'No objects to concatenate':
            print('No gaps with back up water levels avaliable, try another method')
        else:
            print(f"An error occurred: {e}, please try again")
    
    filled_df['pwl actual'] = wl_dataset['pwl']
    filled_df['error'] = abs((filled_df['mwl'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
    filled_df['adjusted error'] = abs((filled_df['mwl adjusted'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
    filled_df['difference'] = abs(filled_df['pwl actual'] - filled_df['mwl'])

    df_list.append(filled_df['difference'].describe().to_frame().T)

Reading dataset
Gaps Created
Total number of gaps:  313
Number of Linear Gaps filled: 3
Single gaps filled
Number of gaps with backup water level: 287
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 272
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  331
Number of Linear Gaps filled: 1
Single gaps filled
Number of gaps with backup water level: 306
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 292
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  323
Number of Linear Gaps filled: 4
Single gaps filled
Number of gaps with backup water level: 289
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 274
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  312
Number of Linear Gaps filled: 1
Single gaps filled
Number of gaps with backup water level: 283
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 267
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  322
Number of Linear Gaps filled: 1
Single gaps filled
Number of gaps with backup water level: 293
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 275
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  327
Number of Linear Gaps filled: 1
Single gaps filled
Number of gaps with backup water level: 298
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 284
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  338
Number of Linear Gaps filled: 5
Single gaps filled
Number of gaps with backup water level: 304
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 291
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  329
Number of Linear Gaps filled: 5
Single gaps filled
Number of gaps with backup water level: 298
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 286
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  315
Number of Linear Gaps filled: 1
Single gaps filled
Number of gaps with backup water level: 282
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 265
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194
Reading dataset
Gaps Created
Total number of gaps:  316
Number of Linear Gaps filled: 0
No single gaps to fill
Single gaps filled
Number of gaps with backup water level: 287
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 273
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194

In [2]:
df = pd.concat(df_list, ignore_index=True)

df

,count,mean,std,min,25%,50%,75%,max
0,50405.0,0.007399,0.677494,7.669759e-08,0.001603,0.003364,0.006069,152.106254
1,50797.0,0.005009,0.008097,2.949936e-07,0.001614,0.003549,0.006442,0.237200
2,50946.0,0.004514,0.004115,3.135710e-07,0.001580,0.003489,0.006299,0.055904
3,47803.0,0.004728,0.045048,1.110212e-07,0.001590,0.003432,0.006285,9.812540
4,49645.0,0.004956,0.041068,1.578785e-08,0.001630,0.003493,0.006199,9.056156
5,51181.0,0.004758,0.007766,4.565798e-07,0.001529,0.003332,0.006220,0.219885
6,51012.0,0.004641,0.004500,5.140260e-08,0.001615,0.003589,0.006356,0.080104
7,51420.0,0.005639,0.189443,1.574552e-07,0.001527,0.003370,0.006198,42.919432
8,48721.0,0.005960,0.355718,2.842498e-09,0.001585,0.003416,0.006053,78.517063
9,49831.0,0.005454,0.236164,7.447002e-08,0.001574,0.003396,0.005995,52.714777

In [3]:
df.mean().to_clipboard()

In [ ]:
filled_df['pwl actual'] = wl_dataset['pwl']
filled_df['error'] = abs((filled_df['mwl'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df['adjusted error'] = abs((filled_df['mwl adjusted'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df['difference'] = abs(filled_df['pwl actual'] - filled_df['mwl'])
filled_df

In [ ]:
filled_df['difference'].describe()

In [ ]:
filled_df['difference'].idxmax()

In [ ]:
rms = np.sqrt(np.nanmean(np.square(filled_df['error'])))
rms

In [ ]:
filled_df[534530:534551]

In [ ]:
plt.plot(filled_df['date'], filled_df['pwl'], color = 'blue', label = 'pwl')
plt.plot(filled_df['date'], filled_df['bwl'], color = 'yellow', label = 'bwl')
plt.plot(filled_df['date'],filled_df['mwl'], color = 'orange', label = 'mwl')#, linestyle = 'dashed')
plt.plot(filled_df['date'],filled_df['mwl adjusted'], color = 'green', label = 'mwl adjusted', linestyle = 'dashed')
plt.plot(filled_df['date'],filled_df['pwl actual'], color = 'black', label = 'actual', linestyle = 'dashed')


plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%Y-%m-%d %H:%M'))

plt.gca().xaxis.set_major_locator(mdates.DayLocator(interval=10))

plt.gcf().autofmt_xdate()

plt.ylim(0.5,3)

start_date = pd.to_datetime('2019-02-06 00:00:00')

end_date = pd.to_datetime('2019-02-06 18:00:00')

plt.xlim(start_date, end_date)
plt.legend(frameon = False)
plt.title('Filled gap')

In [ ]:
len(adjusted_gaps)