In [99]:
from GapFill_2014_CBI_WL import *

filepath = r'D:\rprocious\PSM Lighthouse\CBI\Gap_Filling\pd_1732208271.csv'#('Insert Filepath to Water Level Dataset: ')

try:
    # Call the gap-filling function
    filled_df, wl_dataset, all_gaps, dataset_LF, poly_wl, filled_gap_list, adjusted_gaps = cbi_gapfill(filepath)
    print("Gap filling completed. Here's a preview of the data:")
    print(filled_df.head())
    print(wl_dataset.head())
except FileNotFoundError:
    print(f"Error: File not found at the given path: {filepath}")
except Exception as e:
    if str(e) == 'No objects to concatenate':
        print('No gaps with back up water levels avaliable, try another method')
    else:
        print(f"An error occurred: {e}")

Reading dataset
Gaps Created
Total number of gaps:  39
Number of Linear Gaps filled: 5
Single gaps filled
14
Number of gaps with backup water level: 14
Gaps filled 14
Gap filling completed. Here's a preview of the data:
                 date  mwl linear  mwl  harmwl  pwl surge  bwl surge    pwl  \
0 2022-10-01 00:00:00         NaN  NaN   1.690      0.175      0.953  1.865
1 2022-10-01 00:06:00         NaN  NaN   1.698      0.155      0.935  1.853
2 2022-10-01 00:12:00         NaN  NaN   1.706      0.162      0.939  1.868
3 2022-10-01 00:18:00         NaN  NaN   1.714      0.163      0.937  1.877
4 2022-10-01 00:24:00         NaN  NaN   1.722      0.163      0.933  1.885

     bwl  mwl adjusted  new wl adjustment  new wl
0  2.643           NaN              1.865   1.865
1  2.633           NaN              1.853   1.853
2  2.645           NaN              1.868   1.868
3  2.651           NaN              1.877   1.877
4  2.655           NaN              1.885   1.885
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2022-10-01 00:00:00  1.865  2.643   1.690      0.175      0.953
1 2022-10-01 00:06:00  1.853  2.633   1.698      0.155      0.935
2 2022-10-01 00:12:00  1.868  2.645   1.706      0.162      0.939
3 2022-10-01 00:18:00  1.877  2.651   1.714      0.163      0.937
4 2022-10-01 00:24:00  1.885  2.655   1.722      0.163      0.933

In [100]:
filled_df['pwl actual'] = wl_dataset['pwl']
filled_df['error'] = abs((filled_df['mwl'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df['adjusted error'] = abs((filled_df['mwl adjusted'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df

,date,mwl linear,mwl,harmwl,pwl surge,bwl surge,pwl,bwl,mwl adjusted,new wl adjustment,new wl,pwl actual,error,adjusted error
0,2022-10-01 00:00:00,NaN,NaN,1.690,0.175,0.953,1.865,2.643,NaN,1.865,1.865,1.865,NaN,NaN
1,2022-10-01 00:06:00,NaN,NaN,1.698,0.155,0.935,1.853,2.633,NaN,1.853,1.853,1.853,NaN,NaN
2,2022-10-01 00:12:00,NaN,NaN,1.706,0.162,0.939,1.868,2.645,NaN,1.868,1.868,1.868,NaN,NaN
3,2022-10-01 00:18:00,NaN,NaN,1.714,0.163,0.937,1.877,2.651,NaN,1.877,1.877,1.877,NaN,NaN
4,2022-10-01 00:24:00,NaN,NaN,1.722,0.163,0.933,1.885,2.655,NaN,1.885,1.885,1.885,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87835,2023-10-01 23:30:00,NaN,NaN,1.863,0.486,0.972,2.349,2.835,NaN,2.349,2.349,2.349,NaN,NaN
87836,2023-10-01 23:36:00,NaN,NaN,1.868,0.489,0.972,2.357,2.840,NaN,2.357,2.357,2.357,NaN,NaN
87837,2023-10-01 23:42:00,NaN,NaN,1.872,0.494,0.974,2.366,2.846,NaN,2.366,2.366,2.366,NaN,NaN
87838,2023-10-01 23:48:00,NaN,NaN,1.876,0.487,0.968,2.363,2.844,NaN,2.363,2.363,2.363,NaN,NaN
87839,2023-10-01 23:54:00,NaN,NaN,1.880,0.469,0.953,2.349,2.833,NaN,2.349,2.349,2.349,NaN,NaN

In [101]:
filled_df.describe()

,date,mwl linear,mwl,harmwl,pwl surge,bwl surge,pwl,bwl,mwl adjusted,new wl adjustment,new wl,pwl actual,error,adjusted error
count,87840,120.000000,1.200000e+02,87840.000000,85706.000000,85693.000000,85610.000000,85693.000000,1.200000e+02,8.573000e+04,8.573000e+04,85706.000000,100.000000,100.000000
mean,2023-04-01 23:57:00,1.783691,9.012759e+05,1.556542,0.365354,0.987408,1.925061,2.546932,9.012757e+05,1.263477e+03,1.263477e+03,1.924873,8.584060,16.074795
min,2022-10-01 00:00:00,1.062819,1.477418e+00,0.927000,-4.072000,-1.307000,-2.379000,0.230000,1.602559e+00,-2.379000e+00,-2.379000e+00,-2.379000,0.001125,0.029026
25%,2022-12-31 11:58:30,1.624864,1.671573e+00,1.437000,0.172000,0.864000,1.679000,2.417000,1.733804e+00,1.679000e+00,1.679000e+00,1.679000,0.053589,2.379705
50%,2023-04-01 23:57:00,1.727769,1.811376e+00,1.583000,0.244000,0.963000,1.836000,2.542000,1.801989e+00,1.836000e+00,1.836000e+00,1.836000,0.122275,8.017521
75%,2023-07-02 11:55:30,1.878201,2.059895e+00,1.698000,0.330000,1.064000,1.968000,2.657000,2.200698e+00,1.968000e+00,1.968000e+00,1.968000,0.248734,14.096902
max,2023-10-01 23:54:00,2.824317,8.684720e+06,1.907000,7.673000,6.597000,9.205000,8.270000,8.684720e+06,8.684720e+06,8.684720e+06,9.205000,91.889963,99.011507
std,NaN,0.407795,2.597623e+06,0.183576,0.772380,0.328063,0.801641,0.345126,2.597622e+06,1.024783e+05,1.024783e+05,0.801229,25.460920,26.615239

In [105]:
filled_df['error'].idxmax()

49003

In [107]:
filled_df[48999:49020]

,date,mwl linear,mwl,harmwl,pwl surge,bwl surge,pwl,bwl,mwl adjusted,new wl adjustment,new wl,pwl actual,error,adjusted error
48999,2023-04-23 03:54:00,NaN,NaN,1.341,0.392,1.187,1.733,2.528,NaN,1.733000,1.733000,1.733,NaN,NaN
49000,2023-04-23 04:00:00,NaN,NaN,1.335,0.379,1.180,1.714,2.515,NaN,1.714000,1.714000,1.714,NaN,NaN
49001,2023-04-23 04:06:00,NaN,NaN,1.329,0.377,1.182,1.706,2.511,NaN,1.706000,1.706000,1.706,NaN,NaN
49002,2023-04-23 04:12:00,NaN,NaN,1.324,0.379,1.183,1.703,2.507,NaN,1.703000,1.703000,1.703,NaN,NaN
49003,2023-04-23 04:18:00,2.816128,3.267886,1.319,0.384,1.189,NaN,2.508,3.389166,3.389166,3.267886,1.703,91.889963,99.011507
49004,2023-04-23 04:24:00,2.817977,3.185914,1.315,0.377,1.186,NaN,2.501,3.314560,3.314560,3.185914,1.692,88.292773,95.895997
49005,2023-04-23 04:30:00,2.819562,3.123465,1.311,0.374,1.184,NaN,2.495,3.259478,3.259478,3.123465,1.685,85.368857,93.440859
49006,2023-04-23 04:36:00,2.818506,3.164312,1.307,0.384,1.192,NaN,2.499,3.307692,3.307692,3.164312,1.691,87.126696,95.605696
49007,2023-04-23 04:42:00,2.819298,3.133386,1.303,0.384,1.193,NaN,2.496,3.284133,3.284133,3.133386,1.687,85.737168,94.672945
49008,2023-04-23 04:48:00,2.820619,3.085686,1.300,0.380,1.191,NaN,2.491,3.243799,3.243799,3.085686,1.680,83.671772,93.083274
49009,2023-04-23 04:54:00,2.822468,3.026689,1.298,0.371,1.186,NaN,2.484,3.192168,3.192168,3.026689,1.669,81.347426,91.262338
49010,2023-04-23 05:00:00,2.823789,2.989871,1.295,0.367,1.184,NaN,2.479,3.162718,3.162718,2.989871,1.662,79.895977,90.295890
49011,2023-04-23 05:06:00,2.821675,3.050886,1.294,0.379,1.193,NaN,2.487,3.231099,3.231099,3.050886,1.673,82.360196,93.132056
49012,2023-04-23 05:12:00,2.824317,2.976341,1.292,0.368,1.185,NaN,2.477,3.163920,3.163920,2.976341,1.660,79.297627,90.597620
49013,2023-04-23 05:18:00,NaN,NaN,1.291,0.365,1.184,1.656,2.475,NaN,1.656000,1.656000,1.656,NaN,NaN
49014,2023-04-23 05:24:00,NaN,NaN,1.290,0.365,1.184,1.655,2.474,NaN,1.655000,1.655000,1.655,NaN,NaN
49015,2023-04-23 05:30:00,NaN,NaN,1.290,0.362,1.180,1.652,2.470,NaN,1.652000,1.652000,1.652,NaN,NaN
49016,2023-04-23 05:36:00,NaN,NaN,1.290,0.369,1.187,1.659,2.477,NaN,1.659000,1.659000,1.659,NaN,NaN
49017,2023-04-23 05:42:00,NaN,NaN,1.290,0.344,1.168,1.634,2.458,NaN,1.634000,1.634000,1.634,NaN,NaN
49018,2023-04-23 05:48:00,NaN,NaN,1.291,0.331,1.159,1.622,2.450,NaN,1.622000,1.622000,1.622,NaN,NaN
49019,2023-04-23 05:54:00,NaN,NaN,1.293,0.344,1.169,1.637,2.462,NaN,1.637000,1.637000,1.637,NaN,NaN

In [102]:
test = pd.DataFrame()
test['mwl'] = filled_df['mwl']
test['mwl adjusted'] = filled_df['mwl adjusted']

In [103]:
test = test.dropna(subset=['mwl'])
test

            mwl  mwl adjusted
12610  1.517046      1.631436
12611  1.497966      1.620123
12612  1.504790      1.634714
12613  1.508879      1.646569
12614  1.521123      1.666580
...         ...           ...
74123  1.629342      1.623704
74124  1.626448      1.620543
74125  1.630789      1.624618
74126  1.619218      1.612780
74127  1.620663      1.613959

[120 rows x 2 columns]

In [104]:
print(test['mwl'].isna().sum())
print(test['mwl adjusted'].isna().sum())

0
0