In [5]:
from GapFill_2014_CBI_WL import *


filepath = r'C:\Users\mrpro\Documents\Code\CBI\Gap_Filling\pd_1732232133.csv'
#input('Insert Filepath to Water Level Dataset: ')

try:
    # Call the gap-filling function
    filled_df, wl_dataset, all_gaps, dataset_LF, poly_wl, filled_gap_list, adjusted_gaps = cbi_gapfill(filepath)

    print("Gap filling completed. Here's a preview of the data:")
    print(filled_df.head())
    print(wl_dataset.head())
except FileNotFoundError:
    print(f"Error: File not found at the given path: {filepath}")
except Exception as e:
    if str(e) == 'No objects to concatenate':
        print('No gaps with back up water levels avaliable, try another method')
    else:
        print(f"An error occurred: {e}, please try again")

filled_df['pwl actual'] = wl_dataset['pwl']
filled_df['error'] = abs((filled_df['mwl'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df['adjusted error'] = abs((filled_df['mwl adjusted'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df['difference'] = abs(filled_df['pwl actual'] - filled_df['mwl'])

Reading dataset
Gaps Created
Total number of gaps:  161
Number of Linear Gaps filled: 8
Single gaps filled
Number of gaps with backup water level: 127
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 119
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194

In [2]:
filled_df

,date,pwl,bwl,harmwl,pwl surge,bwl surge,mwl,mwl adjusted,new wl adjustment,new wl,pwl actual,error,adjusted error,difference
0,2016-01-01 00:00:00,1.805,2.619,1.436,0.369,1.183,NaN,NaN,1.805,1.805,1.805,NaN,NaN,NaN
1,2016-01-01 00:06:00,1.808,2.622,1.441,0.367,1.181,NaN,NaN,1.808,1.808,1.808,NaN,NaN,NaN
2,2016-01-01 00:12:00,1.826,2.634,1.446,0.380,1.188,NaN,NaN,1.826,1.826,1.826,NaN,NaN,NaN
3,2016-01-01 00:18:00,1.843,2.647,1.451,0.392,1.196,NaN,NaN,1.843,1.843,1.843,NaN,NaN,NaN
4,2016-01-01 00:24:00,1.850,2.650,1.456,0.394,1.194,NaN,NaN,1.850,1.850,1.850,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87835,2016-12-31 23:30:00,2.011,2.756,1.536,0.475,1.220,NaN,NaN,2.011,2.011,2.011,NaN,NaN,NaN
87836,2016-12-31 23:36:00,2.024,2.766,1.541,0.483,1.225,NaN,NaN,2.024,2.024,2.024,NaN,NaN,NaN
87837,2016-12-31 23:42:00,2.022,2.765,1.546,0.476,1.219,NaN,NaN,2.022,2.022,2.022,NaN,NaN,NaN
87838,2016-12-31 23:48:00,2.029,2.770,1.551,0.478,1.219,NaN,NaN,2.029,2.029,2.029,NaN,NaN,NaN
87839,2016-12-31 23:54:00,2.041,2.777,1.556,0.485,1.221,NaN,NaN,2.041,2.041,2.041,NaN,NaN,NaN

In [3]:
adjusted_gaps

[(2211, 100),
 (2674, 100),
 (6014, 100),
 (6526, 50),
 (6922, 100),
 (9189, 100),
 (9480, 100),
 (11835, 100),
 (11944, 100),
 (13327, 100),
 (13524, 100),
 (13710, 100),
 (14129, 163),
 (14811, 50),
 (14895, 100),
 (15978, 50),
 (16374, 100),
 (16555, 50),
 (17654, 50),
 (17849, 100),
 (18028, 100),
 (18373, 100),
 (18851, 100),
 (19125, 100),
 (19998, 100),
 (20289, 100),
 (20618, 100),
 (20731, 100),
 (21744, 100),
 (21871, 100),
 (22239, 123),
 (22462, 100),
 (22710, 100),
 (23751, 100),
 (24024, 100),
 (24491, 62),
 (25178, 100),
 (26374, 100),
 (27376, 50),
 (27511, 100),
 (30093, 100),
 (30218, 50),
 (30546, 100),
 (30991, 50),
 (32614, 50),
 (32803, 100),
 (34874, 143),
 (35935, 100),
 (36559, 50),
 (37116, 50),
 (37287, 144),
 (37589, 135),
 (37791, 50),
 (39109, 100),
 (39832, 133),
 (42153, 50),
 (42458, 50),
 (43242, 100),
 (43963, 100),
 (44696, 50),
 (45189, 100),
 (45918, 100),
 (46412, 100),
 (47300, 178),
 (47901, 100),
 (48045, 100),
 (48577, 50),
 (48869, 100),
 (49269, 100),
 (49450, 50),
 (49504, 50),
 (49665, 100),
 (49958, 50),
 (50542, 100),
 (50670, 100),
 (51031, 50),
 (51216, 50),
 (52432, 50),
 (53195, 100),
 (53789, 100),
 (53917, 100),
 (54569, 100),
 (54677, 50),
 (55568, 100),
 (55915, 50),
 (55996, 100),
 (57460, 50),
 (58096, 50),
 (59311, 100),
 (59918, 50),
 (61127, 138),
 (62091, 50),
 (62277, 100),
 (62572, 100),
 (62673, 134),
 (63696, 100),
 (64015, 100),
 (64275, 100),
 (65691, 50),
 (66067, 100),
 (67063, 50),
 (67615, 100),
 (68561, 100),
 (69333, 100),
 (69977, 50),
 (70360, 100),
 (70591, 100),
 (71265, 100),
 (71424, 50),
 (71913, 100),
 (72344, 50),
 (72516, 100),
 (73348, 100),
 (75145, 100),
 (76086, 50),
 (77178, 100),
 (77882, 50),
 (79200, 147),
 (79357, 143),
 (79673, 100),
 (80084, 100),
 (80217, 100),
 (81089, 100),
 (82863, 50),
 (84094, 50),
 (84270, 100),
 (84535, 50),
 (85360, 100)]

In [4]:
filled_df[4920:4950]

,date,pwl,bwl,harmwl,pwl surge,bwl surge,mwl,mwl adjusted,new wl adjustment,new wl,pwl actual,error,adjusted error,difference
4920,2016-01-21 12:00:00,1.500,2.395,1.122,0.378,1.273,NaN,NaN,1.500,1.500,1.500,NaN,NaN,NaN
4921,2016-01-21 12:06:00,1.506,2.399,1.115,0.391,1.284,NaN,NaN,1.506,1.506,1.506,NaN,NaN,NaN
4922,2016-01-21 12:12:00,1.498,2.394,1.108,0.390,1.286,NaN,NaN,1.498,1.498,1.498,NaN,NaN,NaN
4923,2016-01-21 12:18:00,1.493,2.388,1.101,0.392,1.287,NaN,NaN,1.493,1.493,1.493,NaN,NaN,NaN
4924,2016-01-21 12:24:00,1.483,2.382,1.094,0.389,1.288,NaN,NaN,1.483,1.483,1.483,NaN,NaN,NaN
4925,2016-01-21 12:30:00,1.468,2.372,1.088,0.380,1.284,NaN,NaN,1.468,1.468,1.468,NaN,NaN,NaN
4926,2016-01-21 12:36:00,1.452,2.359,1.082,0.370,1.277,NaN,NaN,1.452,1.452,1.452,NaN,NaN,NaN
4927,2016-01-21 12:42:00,1.454,2.362,1.076,0.378,1.286,NaN,NaN,1.454,1.454,1.454,NaN,NaN,NaN
4928,2016-01-21 12:48:00,1.451,2.359,1.071,0.380,1.288,NaN,NaN,1.451,1.451,1.451,NaN,NaN,NaN
4929,2016-01-21 12:54:00,1.451,2.360,1.066,0.385,1.294,NaN,NaN,1.451,1.451,1.451,NaN,NaN,NaN
4930,2016-01-21 13:00:00,1.461,2.366,1.061,0.400,1.305,NaN,NaN,1.461,1.461,1.461,NaN,NaN,NaN
4931,2016-01-21 13:06:00,1.422,2.338,1.057,0.365,1.281,NaN,NaN,1.422,1.422,1.422,NaN,NaN,NaN
4932,2016-01-21 13:12:00,1.420,2.337,1.053,0.367,1.284,NaN,NaN,1.420,1.420,1.420,NaN,NaN,NaN
4933,2016-01-21 13:18:00,1.430,2.344,1.049,0.381,1.295,NaN,NaN,1.430,1.430,1.430,NaN,NaN,NaN
4934,2016-01-21 13:24:00,1.411,2.329,1.046,0.365,1.283,NaN,NaN,1.411,1.411,1.411,NaN,NaN,NaN
4935,2016-01-21 13:30:00,1.426,2.340,1.043,0.383,1.297,NaN,NaN,1.426,1.426,1.426,NaN,NaN,NaN
4936,2016-01-21 13:36:00,1.416,2.334,1.041,0.375,1.293,NaN,NaN,1.416,1.416,1.416,NaN,NaN,NaN
4937,2016-01-21 13:42:00,1.413,2.332,1.039,0.374,1.293,NaN,NaN,1.413,1.413,1.413,NaN,NaN,NaN
4938,2016-01-21 13:48:00,1.410,2.332,1.038,0.372,1.294,NaN,NaN,1.410,1.410,1.410,NaN,NaN,NaN
4939,2016-01-21 13:54:00,1.405,2.328,1.036,0.369,1.292,NaN,NaN,1.405,1.405,1.405,NaN,NaN,NaN
4940,2016-01-21 14:00:00,1.405,2.329,1.036,0.369,1.293,NaN,NaN,1.405,1.405,1.405,NaN,NaN,NaN
4941,2016-01-21 14:06:00,1.408,2.332,1.035,0.373,1.297,NaN,NaN,1.408,1.408,1.408,NaN,NaN,NaN
4942,2016-01-21 14:12:00,1.420,2.342,1.035,0.385,1.307,NaN,NaN,1.420,1.420,1.420,NaN,NaN,NaN
4943,2016-01-21 14:18:00,1.415,2.338,1.036,0.379,1.302,NaN,NaN,1.415,1.415,1.415,NaN,NaN,NaN
4944,2016-01-21 14:24:00,1.410,2.337,1.037,0.373,1.300,NaN,NaN,1.410,1.410,1.410,NaN,NaN,NaN
4945,2016-01-21 14:30:00,1.414,2.340,1.038,0.376,1.302,NaN,NaN,1.414,1.414,1.414,NaN,NaN,NaN
4946,2016-01-21 14:36:00,1.413,2.340,1.040,0.373,1.300,NaN,NaN,1.413,1.413,1.413,NaN,NaN,NaN
4947,2016-01-21 14:42:00,1.412,2.339,1.042,0.370,1.297,NaN,NaN,1.412,1.412,1.412,NaN,NaN,NaN
4948,2016-01-21 14:48:00,1.414,2.341,1.045,0.369,1.296,NaN,NaN,1.414,1.414,1.414,NaN,NaN,NaN
4949,2016-01-21 14:54:00,1.416,2.344,1.048,0.368,1.296,NaN,NaN,1.416,1.416,1.416,NaN,NaN,NaN

1.4368 before

1.6964 after