In [1]:
from GapFill_2014_CBI_WL import *


filepath = r'C:\Users\mrpro\Documents\Code\CBI\Gap_Filling\pd_1732232133.csv'
#input('Insert Filepath to Water Level Dataset: ')

try:
    # Call the gap-filling function
    filled_df, wl_dataset, all_gaps, dataset_LF, poly_wl, filled_gap_list, adjusted_gaps = cbi_gapfill(filepath)

    print("Gap filling completed. Here's a preview of the data:")
    print(filled_df.head())
    print(wl_dataset.head())
except FileNotFoundError:
    print(f"Error: File not found at the given path: {filepath}")
except Exception as e:
    if str(e) == 'No objects to concatenate':
        print('No gaps with back up water levels avaliable, try another method')
    else:
        print(f"An error occurred: {e}, please try again")

filled_df['pwl actual'] = wl_dataset['pwl']
filled_df['error'] = abs((filled_df['mwl'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df['adjusted error'] = abs((filled_df['mwl adjusted'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df['difference'] = abs(filled_df['pwl actual'] - filled_df['mwl'])

Reading dataset
Gaps Created
Total number of gaps:  150
Number of Linear Gaps filled: 5
Single gaps filled
Number of gaps with backup water level: 117
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 113
Gap filling completed. Here's a preview of the data:
                 date    pwl    bwl  harmwl  pwl surge  bwl surge  mwl  \
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183  NaN
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181  NaN
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188  NaN
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196  NaN
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194  NaN

   mwl adjusted  new wl adjustment  new wl
0           NaN              1.805   1.805
1           NaN              1.808   1.808
2           NaN              1.826   1.826
3           NaN              1.843   1.843
4           NaN              1.850   1.850
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194

In [2]:
filled_df

,date,pwl,bwl,harmwl,pwl surge,bwl surge,mwl,mwl adjusted,new wl adjustment,new wl,pwl actual,error,adjusted error,difference
0,2016-01-01 00:00:00,1.805,2.619,1.436,0.369,1.183,NaN,NaN,1.805,1.805,1.805,NaN,NaN,NaN
1,2016-01-01 00:06:00,1.808,2.622,1.441,0.367,1.181,NaN,NaN,1.808,1.808,1.808,NaN,NaN,NaN
2,2016-01-01 00:12:00,1.826,2.634,1.446,0.380,1.188,NaN,NaN,1.826,1.826,1.826,NaN,NaN,NaN
3,2016-01-01 00:18:00,1.843,2.647,1.451,0.392,1.196,NaN,NaN,1.843,1.843,1.843,NaN,NaN,NaN
4,2016-01-01 00:24:00,1.850,2.650,1.456,0.394,1.194,NaN,NaN,1.850,1.850,1.850,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87835,2016-12-31 23:30:00,2.011,2.756,1.536,0.475,1.220,NaN,NaN,2.011,2.011,2.011,NaN,NaN,NaN
87836,2016-12-31 23:36:00,2.024,2.766,1.541,0.483,1.225,NaN,NaN,2.024,2.024,2.024,NaN,NaN,NaN
87837,2016-12-31 23:42:00,2.022,2.765,1.546,0.476,1.219,NaN,NaN,2.022,2.022,2.022,NaN,NaN,NaN
87838,2016-12-31 23:48:00,2.029,2.770,1.551,0.478,1.219,NaN,NaN,2.029,2.029,2.029,NaN,NaN,NaN
87839,2016-12-31 23:54:00,2.041,2.777,1.556,0.485,1.221,NaN,NaN,2.041,2.041,2.041,NaN,NaN,NaN

In [4]:
adjusted_gaps

[(3117, 100),
 (3509, 100),
 (6218, 50),
 (6981, 100),
 (7515, 100),
 (8501, 100),
 (8875, 100),
 (10799, 100),
 (12880, 50),
 (14050, 50),
 (14908, 50),
 (15655, 50),
 (15992, 100),
 (17164, 100),
 (17438, 163),
 (18576, 105),
 (18873, 100),
 (22525, 100),
 (23146, 100),
 (24166, 100),
 (24392, 50),
 (25324, 100),
 (27225, 137),
 (27383, 111),
 (27850, 100),
 (28293, 100),
 (28836, 50),
 (30084, 100),
 (30619, 50),
 (31897, 132),
 (32421, 50),
 (32717, 100),
 (32875, 100),
 (34645, 50),
 (34848, 50),
 (35472, 100),
 (35590, 50),
 (35886, 100),
 (36481, 100),
 (37212, 100),
 (38853, 50),
 (39445, 50),
 (41515, 100),
 (41687, 100),
 (42183, 177),
 (42580, 107),
 (42698, 100),
 (43997, 50),
 (44655, 100),
 (44987, 100),
 (45220, 100),
 (46251, 100),
 (46515, 100),
 (47119, 100),
 (48680, 100),
 (49237, 100),
 (49871, 100),
 (50150, 100),
 (50571, 100),
 (50686, 50),
 (51024, 152),
 (51786, 50),
 (51848, 100),
 (52741, 50),
 (52840, 100),
 (53587, 50),
 (55601, 50),
 (55797, 50),
 (55893, 50),
 (56478, 50),
 (57049, 50),
 (58024, 100),
 (59130, 100),
 (60026, 100),
 (60588, 100),
 (61175, 125),
 (61782, 50),
 (61841, 100),
 (62043, 100),
 (62220, 100),
 (63028, 50),
 (63572, 100),
 (64843, 100),
 (64957, 100),
 (65235, 50),
 (66159, 100),
 (67061, 100),
 (67513, 100),
 (68484, 100),
 (68638, 100),
 (68962, 100),
 (69206, 50),
 (70198, 135),
 (70688, 173),
 (71334, 50),
 (72089, 50),
 (72333, 100),
 (72847, 50),
 (73207, 100),
 (74956, 50),
 (75460, 100),
 (75930, 100),
 (76372, 100),
 (77049, 100),
 (79482, 50),
 (79926, 100),
 (80343, 100),
 (81603, 100),
 (81971, 100),
 (82325, 100),
 (82961, 100),
 (84175, 100),
 (84869, 196)]

In [10]:
filled_df[3100:3130]

,date,pwl,bwl,harmwl,pwl surge,bwl surge,mwl,mwl adjusted,new wl adjustment,new wl,pwl actual,error,adjusted error,difference
3100,2016-01-13 22:00:00,1.686,2.537,1.354,0.332,1.183,NaN,NaN,1.686000,1.686000,1.686,NaN,NaN,NaN
3101,2016-01-13 22:06:00,1.688,2.539,1.362,0.326,1.177,NaN,NaN,1.688000,1.688000,1.688,NaN,NaN,NaN
3102,2016-01-13 22:12:00,1.718,2.561,1.369,0.349,1.192,NaN,NaN,1.718000,1.718000,1.718,NaN,NaN,NaN
3103,2016-01-13 22:18:00,1.740,2.575,1.377,0.363,1.198,NaN,NaN,1.740000,1.740000,1.740,NaN,NaN,NaN
3104,2016-01-13 22:24:00,1.731,2.570,1.384,0.347,1.186,NaN,NaN,1.731000,1.731000,1.731,NaN,NaN,NaN
3105,2016-01-13 22:30:00,1.722,2.564,1.392,0.330,1.172,NaN,NaN,1.722000,1.722000,1.722,NaN,NaN,NaN
3106,2016-01-13 22:36:00,1.728,2.567,1.399,0.329,1.168,NaN,NaN,1.728000,1.728000,1.728,NaN,NaN,NaN
3107,2016-01-13 22:42:00,1.744,2.579,1.406,0.338,1.173,NaN,NaN,1.744000,1.744000,1.744,NaN,NaN,NaN
3108,2016-01-13 22:48:00,1.759,2.591,1.414,0.345,1.177,NaN,NaN,1.759000,1.759000,1.759,NaN,NaN,NaN
3109,2016-01-13 22:54:00,1.763,2.594,1.421,0.342,1.173,NaN,NaN,1.763000,1.763000,1.763,NaN,NaN,NaN
3110,2016-01-13 23:00:00,1.764,2.595,1.428,0.336,1.167,NaN,NaN,1.764000,1.764000,1.764,NaN,NaN,NaN
3111,2016-01-13 23:06:00,1.775,2.604,1.434,0.341,1.170,NaN,NaN,1.775000,1.775000,1.775,NaN,NaN,NaN
3112,2016-01-13 23:12:00,1.801,2.623,1.441,0.360,1.182,NaN,NaN,1.801000,1.801000,1.801,NaN,NaN,NaN
3113,2016-01-13 23:18:00,1.810,2.631,1.448,0.362,1.183,NaN,NaN,1.810000,1.810000,1.810,NaN,NaN,NaN
3114,2016-01-13 23:24:00,1.812,2.631,1.454,0.358,1.177,NaN,NaN,1.812000,1.812000,1.812,NaN,NaN,NaN
3115,2016-01-13 23:30:00,1.810,2.629,1.460,0.350,1.169,NaN,NaN,1.810000,1.810000,1.810,NaN,NaN,NaN
3116,2016-01-13 23:36:00,1.815,2.634,1.466,0.349,1.168,NaN,NaN,1.815000,1.815000,1.815,NaN,NaN,NaN
3117,2016-01-13 23:42:00,NaN,2.642,1.472,0.354,1.170,1.832327,1.607929,1.607929,1.832327,1.826,0.346507,11.942534,0.006327
3118,2016-01-13 23:48:00,NaN,2.647,1.478,0.358,1.169,1.839234,1.613668,1.613668,1.839234,1.836,0.176152,12.109590,0.003234
3119,2016-01-13 23:54:00,NaN,2.648,1.483,0.353,1.165,1.840616,1.613881,1.613881,1.840616,1.836,0.251405,12.097972,0.004616
3120,2016-01-14 00:00:00,NaN,2.649,1.489,0.347,1.160,1.841998,1.614095,1.614095,1.841998,1.836,0.326661,12.086350,0.005998
3121,2016-01-14 00:06:00,NaN,2.664,1.494,0.360,1.170,1.862733,1.633662,1.633662,1.862733,1.854,0.471055,11.884459,0.008733
3122,2016-01-14 00:12:00,NaN,2.672,1.498,0.368,1.174,1.873801,1.643561,1.643561,1.873801,1.866,0.418037,11.920632,0.007801
3123,2016-01-14 00:18:00,NaN,2.679,1.503,0.373,1.176,1.883489,1.652081,1.652081,1.883489,1.876,0.399211,11.935964,0.007489
3124,2016-01-14 00:24:00,NaN,2.677,1.507,0.366,1.170,1.880721,1.648144,1.648144,1.880721,1.873,0.412202,12.005108,0.007721
3125,2016-01-14 00:30:00,NaN,2.676,1.511,0.363,1.165,1.879336,1.645592,1.645592,1.879336,1.874,0.284758,12.188270,0.005336
3126,2016-01-14 00:36:00,NaN,2.687,1.515,0.372,1.172,1.894568,1.659655,1.659655,1.894568,1.887,0.401043,12.047971,0.007568
3127,2016-01-14 00:42:00,NaN,2.684,1.518,0.365,1.166,1.890413,1.654331,1.654331,1.890413,1.883,0.393655,12.143850,0.007413
3128,2016-01-14 00:48:00,NaN,2.667,1.521,0.339,1.146,1.866883,1.629633,1.629633,1.866883,1.860,0.370047,12.385305,0.006883
3129,2016-01-14 00:54:00,NaN,2.666,1.524,0.335,1.142,1.865500,1.627082,1.627082,1.865500,1.859,0.349630,12.475431,0.006500

1.8096 before

1.9204 after