In [1]:
from GapFill_2014_CBI_WL import *

filepath = input('Insert Filepath to Water Level Dataset: ')

try:
    # Call the gap-filling function
    filled_df, wl_dataset, all_gaps, dataset_LF, poly_wl, filled_gap_list, adjusted_gaps = cbi_gapfill(filepath)
    print("Gap filling completed. Here's a preview of the data:")
    print(filled_df.head())
    print(wl_dataset.head())
except FileNotFoundError:
    print(f"Error: File not found at the given path: {filepath}")
except Exception as e:
    if str(e) == 'No objects to concatenate':
        print('No gaps with back up water levels avaliable, try another method')
    else:
        print(f"An error occurred: {e}")

Reading dataset
Gaps Created
Total number of gaps:  176
Number of Linear Gaps filled: 9
Single gaps filled
Number of gaps with backup water level: 140
Can not fill gap out of bounds
Can not fill gap out of bounds
Can not fill gap out of bounds
Gaps filled 137
Gap filling completed. Here's a preview of the data:
                 date  mwl linear  mwl  harmwl  pwl surge  bwl surge    pwl  \
0 2016-01-01 00:00:00         NaN  NaN   1.436      0.369      1.183  1.805
1 2016-01-01 00:06:00         NaN  NaN   1.441      0.367      1.181  1.808
2 2016-01-01 00:12:00         NaN  NaN   1.446      0.380      1.188  1.826
3 2016-01-01 00:18:00         NaN  NaN   1.451      0.392      1.196  1.843
4 2016-01-01 00:24:00         NaN  NaN   1.456      0.394      1.194  1.850

     bwl  mwl adjusted
0  2.619           NaN
1  2.622           NaN
2  2.634           NaN
3  2.647           NaN
4  2.650           NaN
                 date    pwl    bwl  harmwl  pwl surge  bwl surge
0 2016-01-01 00:00:00  1.805  2.619   1.436      0.369      1.183
1 2016-01-01 00:06:00  1.808  2.622   1.441      0.367      1.181
2 2016-01-01 00:12:00  1.826  2.634   1.446      0.380      1.188
3 2016-01-01 00:18:00  1.843  2.647   1.451      0.392      1.196
4 2016-01-01 00:24:00  1.850  2.650   1.456      0.394      1.194

In [2]:
filled_df['pwl actual'] = wl_dataset['pwl']
filled_df['error'] = abs((filled_df['mwl'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df['adjusted error'] = abs((filled_df['mwl adjusted'] - filled_df['pwl actual']) / filled_df['pwl actual']) *100
filled_df

,date,mwl linear,mwl,harmwl,pwl surge,bwl surge,pwl,bwl,mwl adjusted,pwl actual,error,adjusted error
0,2016-01-01 00:00:00,NaN,NaN,1.436,0.369,1.183,1.805,2.619,NaN,1.805,NaN,NaN
1,2016-01-01 00:06:00,NaN,NaN,1.441,0.367,1.181,1.808,2.622,NaN,1.808,NaN,NaN
2,2016-01-01 00:12:00,NaN,NaN,1.446,0.380,1.188,1.826,2.634,NaN,1.826,NaN,NaN
3,2016-01-01 00:18:00,NaN,NaN,1.451,0.392,1.196,1.843,2.647,NaN,1.843,NaN,NaN
4,2016-01-01 00:24:00,NaN,NaN,1.456,0.394,1.194,1.850,2.650,NaN,1.850,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
87835,2016-12-31 23:30:00,NaN,NaN,1.536,0.475,1.220,2.011,2.756,NaN,2.011,NaN,NaN
87836,2016-12-31 23:36:00,NaN,NaN,1.541,0.483,1.225,2.024,2.766,NaN,2.024,NaN,NaN
87837,2016-12-31 23:42:00,NaN,NaN,1.546,0.476,1.219,2.022,2.765,NaN,2.022,NaN,NaN
87838,2016-12-31 23:48:00,NaN,NaN,1.551,0.478,1.219,2.029,2.770,NaN,2.029,NaN,NaN
87839,2016-12-31 23:54:00,NaN,NaN,1.556,0.485,1.221,2.041,2.777,NaN,2.041,NaN,NaN

In [3]:
filled_df.describe()

,date,mwl linear,mwl,harmwl,pwl surge,bwl surge,pwl,bwl,mwl adjusted,pwl actual,error,adjusted error
count,87840,8012.000000,8012.000000,87840.000000,86132.000000,86275.000000,74909.000000,86275.000000,7912.000000,86132.000000,7889.000000,7789.000000
mean,2016-07-01 23:57:00,1.802045,1.802557,1.555959,0.263662,1.062536,1.818824,2.617894,1.799701,1.818899,0.296978,25.282590
min,2016-01-01 00:00:00,0.628566,0.603939,1.035000,-0.617000,-1.609000,0.585000,0.000000,0.113671,0.585000,0.000019,0.279452
25%,2016-04-01 11:58:30,1.699456,1.699128,1.458000,0.187000,0.994000,1.690000,2.526000,1.308046,1.692000,0.096480,10.374116
50%,2016-07-01 23:57:00,1.838453,1.839986,1.572000,0.262000,1.056000,1.834000,2.628000,1.869417,1.835000,0.201149,23.438901
75%,2016-10-01 11:55:30,1.969937,1.969794,1.675000,0.342000,1.128000,1.963000,2.722000,2.294310,1.966000,0.348520,37.115158
max,2016-12-31 23:54:00,2.304201,2.303295,1.917000,0.894000,1.593000,2.507000,3.124000,3.154837,2.507000,6.827184,83.453943
std,NaN,0.263043,0.263555,0.158702,0.147163,0.115146,0.215388,0.158955,0.615031,0.220358,0.475310,17.185166

In [4]:
test = pd.DataFrame()
test['mwl'] = filled_df['mwl']
test['mwl adjusted'] = filled_df['mwl adjusted']

In [5]:
test = test.dropna(subset=['mwl'])
test

            mwl  mwl adjusted
5184   0.757175      0.496055
5185   0.754120      0.491160
5186   0.737220      0.472422
5187   0.724828      0.458190
5188   0.690283      0.421806
...         ...           ...
84323  2.084133      2.098191
84324  2.066044      2.080150
84325  2.082853      2.097008
84326  2.076423      2.090627
84327  2.082853      2.097105

[8012 rows x 2 columns]

In [6]:
print(test['mwl'].isna().sum())
print(test['mwl adjusted'].isna().sum())

0
100

In [7]:
test.to_csv()
test.to_clipboard()

In [8]:
filled_df[24517:24557]

,date,mwl linear,mwl,harmwl,pwl surge,bwl surge,pwl,bwl,mwl adjusted,pwl actual,error,adjusted error
24517,2016-04-12 03:42:00,NaN,NaN,1.532,0.239,1.054,1.771,2.586,NaN,1.771,NaN,NaN
24518,2016-04-12 03:48:00,NaN,NaN,1.523,0.222,1.043,1.745,2.566,NaN,1.745,NaN,NaN
24519,2016-04-12 03:54:00,NaN,NaN,1.514,0.211,1.038,1.725,2.552,NaN,1.725,NaN,NaN
24520,2016-04-12 04:00:00,NaN,NaN,1.505,0.208,1.037,1.713,2.542,NaN,1.713,NaN,NaN
24521,2016-04-12 04:06:00,NaN,NaN,1.496,0.211,1.042,1.707,2.538,NaN,1.707,NaN,NaN
24522,2016-04-12 04:12:00,NaN,NaN,1.487,0.225,1.053,1.712,2.540,NaN,1.712,NaN,NaN
24523,2016-04-12 04:18:00,NaN,NaN,1.478,0.218,1.052,1.696,2.530,NaN,1.696,NaN,NaN
24524,2016-04-12 04:24:00,NaN,NaN,1.469,0.203,1.043,1.672,2.512,NaN,1.672,NaN,NaN
24525,2016-04-12 04:30:00,NaN,NaN,1.461,0.185,1.031,1.646,2.492,NaN,1.646,NaN,NaN
24526,2016-04-12 04:36:00,NaN,NaN,1.452,0.191,1.039,1.643,2.491,NaN,1.643,NaN,NaN
24527,2016-04-12 04:42:00,NaN,NaN,1.444,0.176,1.031,1.620,2.475,NaN,1.620,NaN,NaN
24528,2016-04-12 04:48:00,NaN,NaN,1.436,0.160,1.019,1.596,2.455,NaN,1.596,NaN,NaN
24529,2016-04-12 04:54:00,NaN,NaN,1.428,0.157,1.021,1.585,2.449,NaN,1.585,NaN,NaN
24530,2016-04-12 05:00:00,NaN,NaN,1.420,0.165,1.027,1.585,2.447,NaN,1.585,NaN,NaN
24531,2016-04-12 05:06:00,NaN,NaN,1.412,0.160,1.026,1.572,2.438,NaN,1.572,NaN,NaN
24532,2016-04-12 05:12:00,NaN,NaN,1.405,0.159,1.028,1.564,2.433,NaN,1.564,NaN,NaN
24533,2016-04-12 05:18:00,NaN,NaN,1.398,0.173,1.042,1.571,2.440,NaN,1.571,NaN,NaN
24534,2016-04-12 05:24:00,NaN,NaN,1.391,0.192,1.058,1.583,2.449,NaN,1.583,NaN,NaN
24535,2016-04-12 05:30:00,NaN,NaN,1.384,0.195,1.062,1.579,2.446,NaN,1.579,NaN,NaN
24536,2016-04-12 05:36:00,NaN,NaN,1.378,0.189,1.058,1.567,2.436,NaN,1.567,NaN,NaN
24537,2016-04-12 05:42:00,NaN,NaN,1.372,0.185,1.057,1.557,2.429,NaN,1.557,NaN,NaN
24538,2016-04-12 05:48:00,NaN,NaN,1.366,0.191,1.063,1.557,2.429,NaN,1.557,NaN,NaN
24539,2016-04-12 05:54:00,NaN,NaN,1.361,0.185,1.059,1.546,2.420,NaN,1.546,NaN,NaN
24540,2016-04-12 06:00:00,NaN,NaN,1.355,0.174,1.052,1.529,2.407,NaN,1.529,NaN,NaN
24541,2016-04-12 06:06:00,NaN,NaN,1.350,0.158,1.041,1.508,2.391,NaN,1.508,NaN,NaN
24542,2016-04-12 06:12:00,NaN,NaN,1.346,0.152,1.039,1.498,2.385,NaN,1.498,NaN,NaN
24543,2016-04-12 06:18:00,NaN,NaN,1.342,0.165,1.050,1.507,2.392,NaN,1.507,NaN,NaN
24544,2016-04-12 06:24:00,NaN,NaN,1.338,0.178,1.061,1.516,2.399,NaN,1.516,NaN,NaN
24545,2016-04-12 06:30:00,NaN,NaN,1.334,0.172,1.058,1.506,2.392,NaN,1.506,NaN,NaN
24546,2016-04-12 06:36:00,NaN,NaN,1.331,0.163,1.049,1.494,2.380,NaN,1.494,NaN,NaN
24547,2016-04-12 06:42:00,NaN,NaN,1.328,0.166,1.053,1.494,2.381,NaN,1.494,NaN,NaN
24548,2016-04-12 06:48:00,NaN,NaN,1.325,0.158,1.050,1.483,2.375,NaN,1.483,NaN,NaN
24549,2016-04-12 06:54:00,NaN,NaN,1.323,0.155,1.048,1.478,2.371,NaN,1.478,NaN,NaN
24550,2016-04-12 07:00:00,NaN,NaN,1.321,0.165,1.056,1.486,2.377,NaN,1.486,NaN,NaN
24551,2016-04-12 07:06:00,NaN,NaN,1.319,0.161,1.053,1.480,2.372,NaN,1.480,NaN,NaN
24552,2016-04-12 07:12:00,NaN,NaN,1.318,0.148,1.044,1.466,2.362,NaN,1.466,NaN,NaN
24553,2016-04-12 07:18:00,NaN,NaN,1.317,0.141,1.039,1.458,2.356,NaN,1.458,NaN,NaN
24554,2016-04-12 07:24:00,NaN,NaN,1.316,0.142,1.040,1.458,2.356,NaN,1.458,NaN,NaN
24555,2016-04-12 07:30:00,NaN,NaN,1.316,0.133,1.035,1.449,2.351,NaN,1.449,NaN,NaN
24556,2016-04-12 07:36:00,NaN,NaN,1.316,0.153,1.049,1.469,2.365,NaN,1.469,NaN,NaN