In [181]:
import pandas as pd
import numpy.polynomial
import numpy as np
import os
import matplotlib.pyplot as plt
import statsmodels.api as sm

P21_2014 = pd.read_csv(r'D:\rprocious\PSM Lighthouse\CBI\Gap Filling\P21_2016.csv')

P21_2014['date'] = pd.to_datetime(P21_2014['#date+time'])
P21_2014['022-pwl'].replace([-999, -99, 99, 'NA', 'RM'], np.nan, inplace=True)
P21_2014['022-bwl'].replace([-999, -99, 99, 'NA', 'RM'], np.nan, inplace=True)
P21_2014['022-bwl'] = pd.to_numeric(P21_2014['022-bwl'],errors= 'coerce')
P21_2014['022-pwl'] = pd.to_numeric(P21_2014['022-pwl'],errors= 'coerce')

C:\Users\rprocious\AppData\Local\Temp\ipykernel_23196\1696970078.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  P21_2014['022-pwl'].replace([-999, -99, 99, 'NA', 'RM'], np.nan, inplace=True)
C:\Users\rprocious\AppData\Local\Temp\ipykernel_23196\1696970078.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  P21_2014['022-bwl'].replace([-999, -99, 99, 'NA', 'RM'], np.nan, inplace=True)

In [ ]:
def locate_gaps(WL_data):
    lengthMissVal = []
    dates = []
    count = 0
    for i in range(len(WL_data)):
        if pd.isna(WL_data['022-pwl'][i]):
            if count == 0:  # Start of a new NaN gap
                dates.append(WL_data['#date+time'][i])  # Record the start date of the gap
            count += 1  # Increment the gap length

        else:
            if count > 0:  # End of a NaN gap
                lengthMissVal.append(count)
                count = 0  # Reset count after recording the gap length

    # Finalize the DataFrame
    WL_data_gaps = pd.DataFrame()
    WL_data_gaps['date'] = dates
    WL_data_gaps['gapLength'] = lengthMissVal
    WL_data_gaps['gapTime(min)'] = WL_data_gaps['gapLength'] * 6
    return WL_data_gaps


def eligible_gap_length(WL_gaps): #Function to sort the lengh of the gaps into three categories
    WL_gaps_filter_6min = WL_gaps['gapLength'] == 1
    WL_gaps_filter_3hr = WL_gaps['gapLength'] <= 24
    WL_gaps_filter_3days = WL_gaps['gapLength'] <= 432

    #filters the data into individual dataframes
    linear_gaps = WL_gaps[WL_gaps_filter_6min]
    three_hr_gaps = WL_gaps[WL_gaps_filter_3hr]
    three_day_gaps = WL_gaps[WL_gaps_filter_3days]

    return linear_gaps,three_hr_gaps,three_day_gaps




def linear_fill(Wl_data,linear_gaps): #function to fill in gaps with length of 1 using linear approach

    matching_dates = Wl_data[Wl_data['date'].isin(linear_gaps['date'])]

    index_locations = matching_dates.index.tolist()

    for i in range(len(index_locations)):
        new_value = (Wl_data.loc[(index_locations[i])-1,'022-pwl']+ Wl_data.loc[index_locations[i]+1,'022-pwl']) / 2
        Wl_data.loc[index_locations[i],'022-pwl'] = new_value
    
    return Wl_data


def poly_gap_fill(Wl_data, three_hr_gaps):
    
    matching_dates = Wl_data[Wl_data['date'].isin(three_hr_gaps['date'])]

    index_locations = matching_dates.index.tolist()

    gap_length = three_hr_gaps['gapLength'].tolist()

    for i in range(len(index_locations)):

        if index_locations[i]- 2161  > 0 and index_locations[i]+2161+gap_length[i]:

            pwl_30_days = Wl_data['022-pwl'][(index_locations[i]- 2160):index_locations[i]+2160+gap_length[i]].tolist()

            bwl_30_days = Wl_data['022-bwl'][(index_locations[i]- 2160):index_locations[i]+2160+gap_length[i]].tolist()

            dates = Wl_data['date'][(index_locations[i]- 2160):index_locations[i]+2160+gap_length[i]].tolist()

            bwl_30_days_with_constants = sm.add_constant(bwl_30_days)

            bwl_30_days

            model = sm.OLS(pwl_30_days,bwl_30_days_with_constants,missing='drop')

            results = model.fit()

            slope = results.params[1]

            intercept = results.params[0]

            
            poly_df = pd.DataFrame({'bwl': bwl_30_days, 'pwl': pwl_30_days,'date' : pd.to_datetime(dates)})

            poly_df['mwl'] = intercept + slope*poly_df['bwl']

            poly_df.loc[abs(poly_df['mwl'] - poly_df['pwl']) > 0.1, ['mwl', 'pwl']] = np.nan

            


            
            if poly_df['bwl'].isna().sum() + poly_df['pwl'].isna().sum() < len(poly_df)*0.1:

                poly_df.dropna(inplace=True)

                poly =np.polynomial.polynomial.Polynomial.fit(poly_df['pwl'],poly_df['bwl'],4)

                pred_values = poly(poly_df['bwl'].values)

                poly_df['mwl'] = pred_values

            
        



Wl_gaps = locate_gaps(P21_2014)

linear_gaps,three_hr_gaps,three_day_gaps = eligible_gap_length(Wl_gaps)

linear_fill(P21_2014,linear_gaps)

poly_gap_fill(P21_2014,three_hr_gaps)

C:\Users\rprocious\AppData\Local\Temp\ipykernel_23196\2081290316.py:41: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  matching_dates = Wl_data[Wl_data['date'].isin(linear_gaps['date'])]
C:\Users\rprocious\AppData\Local\Temp\ipykernel_23196\2081290316.py:54: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  matching_dates = Wl_data[Wl_data['date'].isin(three_hr_gaps['date'])]

2.36680699 + 0.59142543 x - 0.00010757 x**2 - 0.00290029 x**3 -
0.00828555 x**4
        bwl    pwl                date       mwl
0     2.834  2.104 2016-01-08 22:30:00  3.289114
1     2.843  2.120 2016-01-08 22:36:00  3.293562
2     2.833  2.101 2016-01-08 22:42:00  3.288618
3     2.836  2.103 2016-01-08 22:48:00  3.290106
4     2.839  2.110 2016-01-08 22:54:00  3.291590
...     ...    ...                 ...       ...
4316  2.507  1.642 2016-01-26 22:06:00  3.104634
4317  2.493  1.624 2016-01-26 22:12:00  3.095907
4318  2.498  1.631 2016-01-26 22:18:00  3.099030
4319  2.508  1.644 2016-01-26 22:24:00  3.105256
4320  2.522  1.665 2016-01-26 22:30:00  3.113922

[4186 rows x 4 columns]
2.2876039 + 0.51233251 x + 0.0027458 x**2 + 0.00075535 x**3 -
0.00814625 x**4
        bwl    pwl                date       mwl
0     2.712  1.932 2016-01-09 22:12:00  3.183510
1     2.716  1.939 2016-01-09 22:18:00  3.185165
2     2.722  1.946 2016-01-09 22:24:00  3.187627
3     2.721  1.945 2016-01-09 22:30:00  3.187218
4     2.719  1.944 2016-01-09 22:36:00  3.186399
...     ...    ...                 ...       ...
4317  2.538  1.685 2016-01-27 21:54:00  3.101259
4318  2.543  1.691 2016-01-27 22:00:00  3.103877
4319  2.553  1.704 2016-01-27 22:06:00  3.109072
4320  2.569  1.727 2016-01-27 22:12:00  3.117268
4321  2.579  1.741 2016-01-27 22:18:00  3.122315

[4163 rows x 4 columns]
2.28759634 + 0.51233894 x + 0.00285959 x**2 + 0.000781 x**3 -
0.00823796 x**4
        bwl    pwl                date       mwl
0     2.651  1.853 2016-01-10 00:00:00  3.156344
1     2.662  1.867 2016-01-10 00:06:00  3.161308
2     2.653  1.853 2016-01-10 00:12:00  3.157252
3     2.642  1.838 2016-01-10 00:18:00  3.152223
4     2.620  1.809 2016-01-10 00:24:00  3.141928
...     ...    ...                 ...       ...
4316  2.615  1.790 2016-01-27 23:36:00  3.139546
4317  2.611  1.786 2016-01-27 23:42:00  3.137628
4318  2.603  1.775 2016-01-27 23:48:00  3.133764
4319  2.593  1.762 2016-01-27 23:54:00  3.128878
4320  2.586  1.754 2016-01-28 00:00:00  3.125422

[4160 rows x 4 columns]
2.28925174 + 0.51533151 x - 0.00257845 x**2 - 0.00342225 x**3 -
0.00434874 x**4
        bwl    pwl                date       mwl
25    2.741  1.970 2016-01-12 01:42:00  3.208228
26    2.734  1.962 2016-01-12 01:48:00  3.204945
27    2.729  1.953 2016-01-12 01:54:00  3.202585
28    2.730  1.957 2016-01-12 02:00:00  3.203058
29    2.728  1.953 2016-01-12 02:06:00  3.202111
...     ...    ...                 ...       ...
4331  2.537  1.675 2016-01-30 00:18:00  3.103195
4332  2.540  1.679 2016-01-30 00:24:00  3.104868
4333  2.550  1.693 2016-01-30 00:30:00  3.110420
4334  2.553  1.698 2016-01-30 00:36:00  3.112078
4335  2.550  1.693 2016-01-30 00:42:00  3.110420

[4177 rows x 4 columns]
2.28942173 + 0.5164227 x - 0.0027611 x**2 - 0.00521853 x**3 -
0.00475294 x**4
        bwl    pwl                date       mwl
0     2.652  1.840 2016-01-13 01:24:00  3.149878
1     2.646  1.832 2016-01-13 01:30:00  3.147052
2     2.640  1.825 2016-01-13 01:36:00  3.144208
3     2.645  1.830 2016-01-13 01:42:00  3.146579
4     2.653  1.842 2016-01-13 01:48:00  3.150347
...     ...    ...                 ...       ...
4317  2.609  1.781 2016-01-31 01:06:00  3.129216
4318  2.601  1.772 2016-01-31 01:12:00  3.125269
4319  2.592  1.760 2016-01-31 01:18:00  3.120791
4320  2.607  1.779 2016-01-31 01:24:00  3.128233
4321  2.620  1.796 2016-01-31 01:30:00  3.134592

[4187 rows x 4 columns]
2.28927253 + 0.5154821 x - 0.00278055 x**2 - 0.00404906 x**3 -
0.00459789 x**4
        bwl    pwl                date       mwl
0     2.576  1.736 2016-01-15 22:06:00  3.118619
1     2.583  1.748 2016-01-15 22:12:00  3.122292
2     2.600  1.771 2016-01-15 22:18:00  3.131119
3     2.610  1.786 2016-01-15 22:24:00  3.136250
4     2.588  1.755 2016-01-15 22:30:00  3.124902
...     ...    ...                 ...       ...
4318  2.781  2.027 2016-02-02 21:54:00  3.216293
4319  2.792  2.042 2016-02-02 22:00:00  3.220900
4320  2.785  2.032 2016-02-02 22:06:00  3.217977
4321  2.793  2.044 2016-02-02 22:12:00  3.221316
4323  2.783  2.029 2016-02-02 22:24:00  3.217136

[4187 rows x 4 columns]
2.29470448 + 0.51996895 x - 0.01001043 x**2 - 0.00260107 x**3 +
0.00453349 x**4
        bwl    pwl                date       mwl
0     2.626  1.792 2016-01-17 19:18:00  3.228885
1     2.613  1.776 2016-01-17 19:24:00  3.218565
2     2.609  1.772 2016-01-17 19:30:00  3.215398
3     2.608  1.771 2016-01-17 19:36:00  3.214607
4     2.601  1.763 2016-01-17 19:42:00  3.209076
...     ...    ...                 ...       ...
4319  2.533  1.669 2016-02-04 19:12:00  3.155935
4320  2.533  1.670 2016-02-04 19:18:00  3.155935
4321  2.538  1.678 2016-02-04 19:24:00  3.159808
4322  2.545  1.688 2016-02-04 19:30:00  3.165239
4323  2.548  1.694 2016-02-04 19:36:00  3.167569

[4136 rows x 4 columns]
2.29514687 + 0.52018465 x - 0.01212668 x**2 - 0.00291197 x**3 +
0.00631324 x**4
        bwl    pwl                date       mwl
0     2.535  1.680 2016-01-18 15:06:00  3.164745
1     2.537  1.684 2016-01-18 15:12:00  3.166361
2     2.546  1.694 2016-01-18 15:18:00  3.173649
3     2.553  1.706 2016-01-18 15:24:00  3.179336
4     2.550  1.706 2016-01-18 15:30:00  3.176897
...     ...    ...                 ...       ...
4338  2.455  1.575 2016-02-05 16:54:00  3.101071
4339  2.473  1.600 2016-02-05 17:00:00  3.115240
4340  2.471  1.597 2016-02-05 17:06:00  3.113661
4341  2.475  1.603 2016-02-05 17:12:00  3.116820
4342  2.470  1.593 2016-02-05 17:18:00  3.112872

[4156 rows x 4 columns]
2.29519836 + 0.52031582 x - 0.01266652 x**2 - 0.0031544 x**3 +
0.0068404 x**4
        bwl    pwl                date       mwl
0     2.656  1.853 2016-01-18 22:30:00  3.267969
1     2.659  1.856 2016-01-18 22:36:00  3.270560
2     2.661  1.857 2016-01-18 22:42:00  3.272290
3     2.663  1.862 2016-01-18 22:48:00  3.274021
4     2.669  1.869 2016-01-18 22:54:00  3.279226
...     ...    ...                 ...       ...
4317  2.693  1.904 2016-02-05 22:12:00  3.300206
4318  2.690  1.899 2016-02-05 22:18:00  3.297570
4319  2.702  1.916 2016-02-05 22:24:00  3.308142
4320  2.700  1.912 2016-02-05 22:30:00  3.306375
4321  2.701  1.911 2016-02-05 22:36:00  3.307259

[4137 rows x 4 columns]
2.29586339 + 0.51946411 x - 0.01057358 x**2 - 0.0015275 x**3 +
0.00359106 x**4
        bwl    pwl                date       mwl
0     2.724  1.952 2016-01-21 21:54:00  3.300781
1     2.765  2.008 2016-01-21 22:00:00  3.333691
2     2.791  2.045 2016-01-21 22:06:00  3.354787
3     2.750  1.990 2016-01-21 22:12:00  3.321602
4     2.701  1.923 2016-01-21 22:18:00  3.282501
...     ...    ...                 ...       ...
4316  2.331  1.397 2016-02-08 21:30:00  3.002022
4317  2.346  1.416 2016-02-08 21:36:00  3.013020
4318  2.359  1.435 2016-02-08 21:42:00  3.022571
4319  2.358  1.433 2016-02-08 21:48:00  3.021835
4320  2.351  1.424 2016-02-08 21:54:00  3.016692

[4231 rows x 4 columns]
2.27594767 + 0.53561504 x - 0.00464121 x**2 - 0.00075756 x**3 +
0.00083523 x**4
        bwl    pwl                date       mwl
0     2.522  1.664 2016-01-23 22:12:00  3.136461
1     2.527  1.669 2016-01-23 22:18:00  3.140044
2     2.521  1.664 2016-01-23 22:24:00  3.135744
3     2.523  1.665 2016-01-23 22:30:00  3.137177
4     2.528  1.672 2016-01-23 22:36:00  3.140761
...     ...    ...                 ...       ...
4316  2.328  1.400 2016-02-10 21:48:00  2.997694
4317  2.327  1.399 2016-02-10 21:54:00  2.996980
4318  2.327  1.399 2016-02-10 22:00:00  2.996980
4319  2.338  1.412 2016-02-10 22:06:00  3.004838
4320  2.342  1.417 2016-02-10 22:12:00  3.007696

[4233 rows x 4 columns]
2.27578434 + 0.53581183 x - 0.0040354 x**2 - 0.00107282 x**3 +
0.00034812 x**4
        bwl    pwl                date       mwl
2     2.574  1.740 2016-01-24 22:30:00  3.170104
3     2.565  1.730 2016-01-24 22:36:00  3.163766
4     2.592  1.765 2016-01-24 22:42:00  3.182777
5     2.584  1.754 2016-01-24 22:48:00  3.177145
6     2.578  1.746 2016-01-24 22:54:00  3.172921
...     ...    ...                 ...       ...
4316  2.287  1.344 2016-02-11 21:54:00  2.967417
4317  2.295  1.354 2016-02-11 22:00:00  2.973084
4318  2.290  1.348 2016-02-11 22:06:00  2.969542
4319  2.289  1.344 2016-02-11 22:12:00  2.968833
4320  2.299  1.359 2016-02-11 22:18:00  2.975917

[4235 rows x 4 columns]
2.27582992 + 0.5358795 x - 0.00434787 x**2 - 0.00114935 x**3 +
0.00066079 x**4
        bwl    pwl                date       mwl
0     2.615  1.792 2016-01-25 00:12:00  3.200697
1     2.619  1.799 2016-01-25 00:18:00  3.203538
2     2.623  1.804 2016-01-25 00:24:00  3.206380
3     2.614  1.793 2016-01-25 00:30:00  3.199986
4     2.612  1.790 2016-01-25 00:36:00  3.198565
...     ...    ...                 ...       ...
4319  2.392  1.480 2016-02-12 00:06:00  3.042350
4320  2.392  1.479 2016-02-12 00:12:00  3.042350
4321  2.396  1.487 2016-02-12 00:18:00  3.045190
4322  2.398  1.492 2016-02-12 00:24:00  3.046611
4323  2.393  1.485 2016-02-12 00:30:00  3.043060

[4240 rows x 4 columns]
2.27582636 + 0.53587257 x - 0.00431157 x**2 - 0.00114037 x**3 +
0.00062197 x**4
        bwl    pwl                date       mwl
0     2.608  1.784 2016-01-25 00:54:00  3.195509
1     2.606  1.783 2016-01-25 01:00:00  3.194090
2     2.607  1.784 2016-01-25 01:06:00  3.194800
3     2.608  1.786 2016-01-25 01:12:00  3.195509
4     2.612  1.791 2016-01-25 01:18:00  3.198347
...     ...    ...                 ...       ...
4317  2.400  1.496 2016-02-12 00:36:00  3.047946
4318  2.413  1.512 2016-02-12 00:42:00  3.057171
4319  2.411  1.512 2016-02-12 00:48:00  3.055752
4320  2.414  1.516 2016-02-12 00:54:00  3.057881
4321  2.417  1.518 2016-02-12 01:00:00  3.060010

[4238 rows x 4 columns]
2.3082339 + 0.49854518 x - 0.00118274 x**2 - 0.00068645 x**3 +
0.00012623 x**4
        bwl    pwl                date       mwl
0     2.224  1.265 2016-02-11 16:18:00  2.923860
1     2.219  1.259 2016-02-11 16:24:00  2.920264
2     2.215  1.249 2016-02-11 16:30:00  2.917386
3     2.205  1.238 2016-02-11 16:36:00  2.910192
4     2.205  1.237 2016-02-11 16:42:00  2.910192
...     ...    ...                 ...       ...
4319  2.500  1.636 2016-02-29 16:12:00  3.121956
4320  2.494  1.626 2016-02-29 16:18:00  3.117658
4321  2.496  1.630 2016-02-29 16:24:00  3.119091
4322  2.504  1.639 2016-02-29 16:30:00  3.124821
4323  2.501  1.636 2016-02-29 16:36:00  3.122672

[4311 rows x 4 columns]
2.3077873 + 0.49924689 x + 0.00127459 x**2 - 0.00252899 x**3 -
0.00320193 x**4
        bwl    pwl                date       mwl
0     2.595  1.770 2016-02-14 03:42:00  3.154625
1     2.604  1.782 2016-02-14 03:48:00  3.159956
2     2.600  1.778 2016-02-14 03:54:00  3.157590
3     2.597  1.773 2016-02-14 04:00:00  3.155812
4     2.592  1.766 2016-02-14 04:06:00  3.152843
...     ...    ...                 ...       ...
4324  2.691  1.906 2016-03-03 04:06:00  3.210122
4325  2.694  1.909 2016-03-03 04:12:00  3.211805
4326  2.701  1.918 2016-03-03 04:18:00  3.215720
4327  2.701  1.917 2016-03-03 04:24:00  3.215720
4328  2.703  1.920 2016-03-03 04:30:00  3.216836

[4316 rows x 4 columns]
2.64982861 + 0.32825634 x - 0.00618922 x**2 - 0.00183044 x**3 +
0.00805712 x**4
        bwl    pwl                date       mwl
0     2.884  2.191 2016-05-02 19:54:00  3.555934
1     2.900  2.215 2016-05-02 20:00:00  3.579254
2     2.904  2.220 2016-05-02 20:06:00  3.585177
3     2.900  2.214 2016-05-02 20:12:00  3.579254
4     2.887  2.196 2016-05-02 20:18:00  3.560262
...     ...    ...                 ...       ...
4321  2.701  1.918 2016-05-20 20:00:00  3.325974
4322  2.683  1.893 2016-05-20 20:06:00  3.306454
4323  2.689  1.900 2016-05-20 20:12:00  3.312909
4324  2.687  1.898 2016-05-20 20:18:00  3.310751
4325  2.683  1.891 2016-05-20 20:24:00  3.306454

[4258 rows x 4 columns]